src/test/resources/org/opengis/cite/wfs11/describeFeatureType.xml

<?xml version='1.0' encoding='UTF-8'?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml" xmlns:xlink="http://www.w3.org/1999/xlink"
  xmlns:bo="http://www.BlueOx.org/BlueOx" targetNamespace="http://www.BlueOx.org/BlueOx" elementFormDefault="qualified"
  attributeFormDefault="unqualified">
  <import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd" />
  <element name="_Feature" type="gml:AbstractFeatureType" abstract="true" substitutionGroup="gml:_Feature" />
  <element name="WoodsType" type="bo:WoodsTypeType" substitutionGroup="gml:_Feature" />
  <complexType name="WoodsTypeType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="surfaceProperty" minOccurs="0" type="gml:SurfacePropertyType" />
          <element name="pointProperty" minOccurs="0" type="gml:PointPropertyType" />
          <element name="curveProperty" minOccurs="0" type="gml:CurvePropertyType" />
          <element name="intProperty" type="integer" />
          <element name="uriProperty" minOccurs="0" type="anyURI" />
          <element name="measurand" type="double" />
          <element name="dateTimeProperty" minOccurs="0" type="dateTime" />
          <element name="dateProperty" minOccurs="0" type="date" />
          <element name="decimalProperty">
            <simpleType>
              <restriction base="decimal">
                <whiteSpace value="collapse" />
                <totalDigits value="4" />
                <fractionDigits value="2" />
              </restriction>
            </simpleType>
          </element>
          <element name="relatedFeature" minOccurs="0">
            <complexType>
              <sequence>
                <element ref="sf:PrimitiveGeoFeature" minOccurs="0" />
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup" />
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
</schema>